<p>hi! <%= Time.now %></p>

<h2>Triumvirates</h2>

<ul>
  <% triumvirates.each do |triumvirate| %>
    <li><%= triumvirate.triumvirate_name %></li>
  <% end%>
</ul>



<h2>Exiles</h2>

<ul>
  <% exiles.each do |exile| %>
    <li><%= exile.exile_name %></li>
  <% end%>
</ul>
