<p>Welcome!</p>

<h2><i class="fas fa-download"></i> Download</h2>

<h3>Rite Club Companion v0.0.0a</h3>

<ul>
  <li><i class="fab fa-windows"></i> <a href="/">Windows .zip</a></li>
  <li><i class="fab fa-apple"></i> <a href="/">macOS .tar.gz</a></li>
  <li><i class="fab fa-linux"></i> <a href="/">Linux .tar.gz</a></li>
</ul>
