<div id="download-section">
  <h2><i class="fas fa-download"></i> Download</h2>
  
  <b>Rite Club Companion v0.0.0a</b>
  
  <ul>
    <li><i class="fab fa-windows"></i> <a href="/">Windows .zip</a></li>
    <li><i class="fab fa-apple"></i> <a href="/">macOS .tar.gz</a></li>
    <li><i class="fab fa-linux"></i> <a href="/">Linux .tar.gz</a></li>
  </ul>

  <p class="small">
    Or you can <a href="https://github.com/dressupgeekout/rite-club-companion">browse the source code</a>
  </p>
</div>

<div id="main">
  <p>
    Welcome to the <strong>Rite Club</strong>, the (unofficial) league for
    competitive play of Supergiant Games'
    <a href="https://www.supergiantgames.com/games/pyre/"><i>Pyre</i></a> !
  </p>
  
  <p>
    We maintain a small mod for <i>Pyre</i> which allows this website to be
    automatically updated any time two people complete a rite. You can download
    the free, open source and easy-to-use <strong>Rite Club Companion</strong> to
    make the experience as seamless as possible.
  </p>
</div>
