<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Rite Club</title>
  <link rel="stylesheet" type="text/css" href="/css/default.css"/>
</head>
<body>

<div id="superbanner">
  <span>ALPHA</span>
</div>

<header>
  <hgroup>
    <h1>Rite Club</h1>
  </hgroup>

  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/rites">Rites</a></li>
      <li><a href="/users">Readers</a></li>
      <li><a href="/download">Download</a></li>
    </ul>
  </nav>
</header>

<%= yield %>

<footer>
  <p>&copy;2018 Charlotte Koch.</p>
</footer>

</body>
</html>
