<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Pyre Match Database</title>
  <link rel="stylesheet" type="text/css" href="/css/default.css"/>
</head>
<body>

<header>
  <hgroup>
    <h1>Pyre Match Database</h1>
  </hgroup>
</header>

<%= yield %>

<footer>
  <p>&copy;2018 Charlotte Koch.</p>
</footer>

</body>
</html>
